@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Cairo', sans-serif;
  @media (width <= 850px) {
    font-size: 55%;
  }

  @media (width <= 615px) {
    font-size: 40%;
  }
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}
